<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1041906267330-vk7t61tlinafehea2vfsk3omrp5upr2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041906267330-vk7t61tlinafehea2vfsk3omrp5upr2e</string>
	<key>API_KEY</key>
	<string>AIzaSyDJwxwus8ba4klRfTSO_GtclbdUrVn_5aQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1041906267330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.penguin.gourmetsearch</string>
	<key>PROJECT_ID</key>
	<string>gourmetsearch-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>gourmetsearch-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041906267330:ios:ded584ded5f7aadb</string>
	<key>DATABASE_URL</key>
	<string>https://gourmetsearch-pro.firebaseio.com</string>
</dict>
</plist>